body{
    background: url(../images/Wave\ Line\ \(2\).svg);
    
}
.nav-link{font-size:1.1em !important}

.carousel-inner{
    height: 870px;
   
}
.caruosel-inner img{
    transform:translateY(-30%);
    height:100%;
    width: 100%;
}
@media(min-width:100px){
    .carousel-inner img{
        width: 100%;
    }
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    text-shadow: 1px 1px 10px #000;
}
@media(max-width:450px){
    .carousel-caption .display-2{
        font-size: 3em;
    }
}
